.row{
    background-color: #05173b;
    margin: 0px;
    color: white;
    padding: 20px;
    
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

.listaEdu {
    display: block;
    border-radius: 4px;
    overflow: hidden;
}

.cdk-drag-preview {
    color: white;
    box-sizing: border-box;
    border-radius: 4px;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.listaEdu.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.listaEdu-placeholder {
    background: #04102b;
    border: dotted 3px rgb(252, 252, 252);
    min-height: 120px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

h1, h3{
    display: inline;
}
.informacion{
    display: flex;
    justify-content: flex-end;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}